<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClassLibrary.Properties.Settings>
            <setting name="ClassLibrary_com_smsmelli_www_smsserver" serializeAs="String">
                <value>http://www.smsmelli.com/class/sms/webservice2/server.php</value>
            </setting>
        </ClassLibrary.Properties.Settings>
    </applicationSettings>
</configuration>